<section class="container-fluid">
  <div class="container">
    <form class="vertical form-small" id="formRegister" method="POST" action="/login" data-aos="zoom-in-up">
      <h1>Accede</h1>
      {{> input type="email" name="username" label="Email" placeholder="email@email.com" required="true"}}
      {{> input id="myPassword2" type="password" name="password" label="Password" placeholder="Tu contraseña" required="true"}}
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</section>