<h1>{{title}} Register</h1>

<form class="vertical" id="formRegister" method="POST" action="/login">
  {{> input type="email" name="username" label="Email" placeholder="Your email" required="true"}}
  {{> input id="myPassword" type="password" name="password" label="Password" placeholder="Your password" required="true"}}
  <button type="submit" class="btn">Login</button>
</form>