<section class="container-fluid">
  <div class="container">
    <form id="formRegister" class="register" method="POST" action="/register" data-aos="zoom-in-up">
      <h1>Register</h1>
      {{> input id="register-name" type="text" name="name" label="Name" placeholder="Your Name"}}
      {{> input id="register-lastname" type="text" name="lastname" label="Lastname" placeholder="Your Lastname"}}
      {{> input id="register-street" type="text" name="street" label="Street" placeholder="Your street"}}
      {{> input id="register-city" type="text" name="city" label="City" placeholder="Your city"}}
      {{> input id="register-country" type="text" name="country" label="Country" placeholder="Your country"}}
      {{> input id="register-email" type="email" name="username" label="Email" placeholder="Your email"}}
      {{> input id="myPassword" type="password" name="password" label="Password" placeholder="Your password"}}
      <button type="submit" class="btn">Register</button>
    </form>
  </div>
</section>