<h1>{{title}} Register</h1>

<form class="vertical" id="formRegister" method="POST" action="/register">
  {{> input type="text" name="name" label="Name" placeholder="Your Name" required="true"}}
  {{> input type="text" name="lastname" label="Lastname" placeholder="Your Lastname" required="true"}}
  {{> input type="email" name="username" label="Email" placeholder="Your email" required="true"}}
  {{> input id="myPassword" type="password" name="password" label="Password" placeholder="Your password" required="true"}}
  <button type="submit" class="btn">Register</button>
</form>