// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts
$primary-font: "DM Serif Display", serif;
$secondary-font: "Montserrat", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

/// Text color
$c-dark: #2f2f31;
$c-medium: #3a3f5c;
$c-medium-rgba: rgba(58, 63, 92, 0.3);
$c-light: #ffffff;

$c-primary: #4dbc4b;
$c-secondary: #a1db93;
$c-accent: #ff7959;

$c-grey-1: #f8f8f8;
$c-grey-2: #c4c4c4;
$c-grey-3: #f1eeee;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
