<div class="footer">
  <div class="path">
    <svg class="fusion-waves-candy" fill="#a1db93" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%"
      viewBox="0 54 1024 162" preserveAspectRatio="none">
      <path class="st3"
        d="M0 216.312h1024v-3.044c-50.8-17.1-108.7-30.7-172.7-37.9-178.6-19.8-220 36.8-404.9 21.3-206.6-17.2-228-126.5-434.5-141.6-3.9-.3-7.9-.5-11.9-.7v161.944z">
      </path>
    </svg>
  </div>
  <div class="wrapper">
    <div class="logo">
      <img src="/images/cookin-logo-white.svg" alt="cookin logo" />
    </div>
    <div class="info">
      <div class="rrss">
        <ul>
          <li><a href="https://www.linkedin.com/in/pilargarciacampo/">Pilar García</a>|</li>
          <li><a href="https://www.linkedin.com/in/rubenvaquero/">Rubén Vaquero</a></li>
        </ul>
      </div>

      <div class="copy-rigth">
        <p>🚀Cookin App © 2020</p>
      </div>

    </div>

  </div>

</div>