<div id="modalPopUp">
  <div class="container">
    <div id="close" class="close btn-rounded"><img src="/images/exit.svg" alt="Add to favorites" /></div>
    <div class="header">
      <p class="title">{{title}}</p>
    </div>
    <div class="content">
      <p>{{message}}</p>
    </div>
  </div>
</div>