<div id="modalPopUp" class="{{#ifequal modalStatus value="true"}}active{{/ifequal}}">
  <div class="container">
    <div id="close" class="close btn-rounded"><img src="/images/exit.svg" alt="Add to favorites" /></div>
    <div class="header">
      <p class="title-special">{{titleModal}}</p>
    </div>
    <div class="content">
      <p>{{messageModal}}</p>
    </div>
  </div>
</div>