<nav class="menu">
  <div class="logo-wrapper">
    <div class="logo">
      <a href="/">
        <img src="/images/cookin-logo.svg" alt="cookin logo" />
      </a>
    </div>
    <div id="menu-mobile" class="hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="menu-mobile-wrapper" class="menu-wrapper">
    {{#unless user}}
    <div class="menu-active not-logged">
      <ul>
        <li><a href="/about">Quiénes somos {{user.rol}}</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/login">Entrar</a></li>
        <li><a href="/register">Registro</a></li>
      </ul>
    </div>
    {{/unless}}
    {{#ifequal user.rol value="subscriber"}}
    <div class="menu-active user-logged">
      <ul>
        <li><a href="/recetas">Recetas</a></li>
        <li><a href="/favoritas">Favoritas</a></li>
        <li><a href="/lista-de-la-compra">Lista de la compra</a></li>
        <li><a href="/profile">Mi cuenta |
            {{#if user}}
            <span class="user-alias">{{user.username}}</span>
            {{/if}}
          </a>
        </li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </div>
    {{/ifequal}}
    {{#ifequal user.rol value="admin"}}
    <div class="menu-active admin-logged">
      <ul>
        <li><a href="/recetas">Recetas</a></li>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="/añadir-receta">Añadir receta</a></li>
        <li>
          <a class="active" href="/profile">Mi cuenta |
            {{#if user}}
            <span class="user-alias strong">{{user.username}}</span>
            {{/if}}
          </a>
        </li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </div>
    {{/ifequal}}
  </div>
</nav>