<nav class="menu">
  <div class="logo-wrapper">
    <div class="logo">
      <a href="/">
        <img src="/images/cookin-logo.svg" alt="cookin logo" />
      </a>
    </div>
    <div id="menu-mobile" class="hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="menu-mobile-wrapper" class="menu-wrapper">
    {{#unless user}}
    <div class="menu-active not-logged">
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
    {{/unless}}
    {{#ifequal user.rol value="subscriber"}}
    <div class="menu-active user-logged">
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/favorites" class="icon"><img src="/images/heart-green.svg"
              alt="favorites" /><span>Favorites</span></a>
        </li>
        <li>
          <form action="/shopping-list/{{user.id}}">
            <button class="btn-special icon" type="submit"><img src="/images/basket-green.svg"
                alt="list" /><span>Shopping
                List</button>
          </form>
        </li>
        <li><a href="/profile">My Profile |
            {{#if user}}
            <span class="user-alias">{{user.username}}</span>
            {{/if}}
          </a>
        </li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </div>
    {{/ifequal}}
    {{#ifequal user.rol value="admin"}}
    <div class="menu-active admin-logged">
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/favorites" class="icon"><img src="/images/heart-green.svg"
              alt="favorites" /><span>Favorites</span></a>
        </li>
        <li>
          <form action="/shopping-list/{{user.id}}">
            <button class="btn-special icon" type="submit"><img src="/images/basket-green.svg"
                alt="list" /><span>Shopping
                List</span></button>
          </form>
        </li>
        <li><a href="/users" class="icon"><img src="/images/users-green.svg" alt="users" /><span>Users<span></a></li>
        <li><a href="/add-recipes" class="icon"><img src="/images/create-green.svg" alt="add recipe" /><span>Add
              recipe<span></a></li>
        <li>
          <a class="active" href="/profile">My Profile |
            {{#if user}}
            <span class="user-alias strong">{{user.username}}</span>
            {{/if}}
          </a>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    {{/ifequal}}
  </div>
</nav>