<div class="col-2 inverse">
  <div class="content">
    <h1 class="title">Together, to be your inspiration</h1>
    <p>More than 1000 recipes for you to organize your weekly menu and control your shopping cart</p>
    <a href="/register" class="btn">REGISTER</a>
  </div>
  <div class="box-img">
    <img src="/images/about.png" alt="" title="">
  </div>
</div>