<div class="container">
  <h1>Error!</h1>
  <p>There was an error on the server! Check the console!</p>
  <img class="img-not-found" src="../images/404.png" alt="Error" title="Error">

  <p class="game">Check if all is well or start playing <strong>PIZZA HACK</strong> if
    you prefer.</p>
  <iframe src="https://rvaquero87.github.io/pizza_hack/"></iframe>
</div>