<div class="col-2">
  <div class="content">
    <h1 class="title">Healthy ideas to eat every day</h1>
    <p>Discover easy and varied recipes, optimize your time with our shopping list and register your favorite foods</p>
    <a href="/register" class="btn">REGISTER</a>
  </div>
  <div class="box-img">
    <img src="/images/home.png" alt="" title="">
  </div>
</div>

<div class="col-3 container">
  <div>
    <div class="box-img">
      <img src="/images/spoon-and-fork.svg" alt="Favourite Recipes" title="Favourite Recipes">
    </div>
    <h2>Save your favorite recipes</h2>
    <p>You can select all the recipes that you have fallen in love so you can easily find them in your favorites list
    </p>
  </div>
  <div>
    <div class="box-img">
      <img src="/images/list.svg" alt="Shopping list" title="Shopping list">
    </div>
    <h2>Create your shopping list</h2>
    <p>I forgot to have to write down what ingredients you need, click on the ingredients and they will appear on your
      list instantly
    </p>
  </div>
  <div>
    <div class="box-img">
      <img src="/images/blog.svg" alt="Blog" title="Blog">
    </div>
    <h2>New recipes in our Blog</h2>
    <p>Do not miss our new recipes. Always giving you new ideas.
    </p>
  </div>
</div>