<div class="container">
  <h1>404 Error</h1>
  <p>This route does not exist in the application!</p>
  <img class="img-not-found" src="../images/found.png" alt="404 Error" title="404 Error">

  <p class="game">Check if all is well or start playing <strong>PIZZA HACK</strong> if
    you prefer.</p>
  <iframe src="https://rvaquero87.github.io/pizza_hack/"></iframe>
</div>