// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

html {
  font: normal 10px/1.45rem $secondary-font;
  background-color: $c-grey-1;
}
main {
  padding: 1.5rem;
  box-sizing: border-box;
}
