// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container-fluid,
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 100%;
}

.container {
  max-width: 120rem;
}
.row {
  margin: 0 -1.5rem;
}
.strong {
  font-weight: bold;
}

%fixed {
  position: fixed;
  width: 100%;
}

%sticky {
  position: -webkit-sticky;
  position: sticky;
}

%fade-in {
  @include animation(fadeIn 1s forwards);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
