/**
 * Basic typography style for copy text
 */

h1 {
  font-family: &primary-font;
  color: $c-dark;
  font-size: 4em;
  margin: 2.8rem 0;
}

h2 {
  color: $c-dark;
  font-size: 3em;
  margin: 2.2rem 0;
}

h3 {
  color: $c-dark;
  font-size: 2.8em;
  margin: 2rem 0;
}

h4 {
  color: $c-dark;
  font-size: 2.2em;
  margin: 2rem 0;
}

p {
  color: $c-medium;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 0 0 1.2rem 0;

  &::selection {
    color: white;
  }
}

a {
  color: $c-medium;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
