/**
 * Basic typography style for copy text
 */

h1 {
  font-family: &primary-font;
  color: $c-dark;
  line-height: 1.1;
  font-size: 3.6em;
  margin: 2.8rem 0;
}

h2 {
  color: $c-dark;
  font-size: 2.2em;
  line-height: 1.1;
  margin: 2.2rem 0;
}

h3 {
  color: $c-dark;
  font-size: 2em;
  line-height: 1.1;
  margin: 2rem 0;
}

h4 {
  color: $c-dark;
  font-size: 1.8em;
  line-height: 1.1;
  margin: 2rem 0;
}

p {
  color: $c-medium;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0 0 1.2rem 0;

  &::selection {
    color: white;
  }
}

a {
  color: $c-medium;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@include md {
  h1 {
    font-size: 4.2em;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 2.6em;
  }

  h4 {
    font-size: 2em;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
  }
}
@include lg {
  h1 {
    font-size: 4.8em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.8em;
  }

  h4 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.6rem;
  }

  a {
    font-size: 1.6rem;
  }
}
