// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  font: normal 1.6rem $secondary-font;
  color: $c-light;
  background-color: $c-primary;
  padding: 2rem;
  margin: 2rem 0;
  border: none;
  border-radius: 5rem;
  min-width: 20rem;
  outline: none;
  background-size: 300% 100%;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    @include transition(all, 0.4s, ease-in-out);
    background-color: $c-secondary;
    background-position: 100% 0;
    background-image: linear-gradient(
      to right,
      $c-primary,
      $c-secondary,
      $c-primary,
      $c-primary
    );
    @include box-shadow(0.1rem, 0.4rem, 1.5rem, 0, $c-medium-rgba, false);
  }
  &:focus {
    outline: none !important;
  }
  &.gost {
    background-color: transparent;
    color: $c-primary;
    border: solid 2px $c-primary;
    &:hover {
      color: $c-light;
    }
  }
}
.btn-rounded {
  display: block;
  height: 6.5rem;
  width: 6.5rem;
  margin: 0.7rem;
  background-color: $c-primary;
  border-radius: 6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  @include box-shadow(0.1rem, 0.1rem, 1rem, 0, $c-medium-rgba, false);
  > button {
    width: 100%;
  }
  > img {
    height: 4rem;
    width: 4rem;
  }
  &:hover {
    opacity: 0.85;
    @include animation(all 1000 ease);
  }
  &.form-add {
    background-color: $c-primary;
  }
  &.form-delete {
    background-color: $c-accent;
  }
  &.form-add:hover {
    opacity: 0.85;
    @include animation(all 1000 ease);
  }
  &.form-delete:hover {
    opacity: 0.9;
    @include animation(all 1000 ease);
  }
}
