.card {
  max-width: 31%;
  margin: 1%;
  background-color: $c-light;
  border: solid 0.1rem $c-grey-1;
  border-radius: 0.8rem;
  padding: 1.5rem;
  @include box-shadow(0.1rem, 0.1rem, 1rem, 0, $c-medium-rgba, false);
  img {
    width: 100%;
  }
  h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  a {
    text-decoration: none;
    &:hover {
      h3 {
        color: $c-accent;
      }
      img {
        opacity: 0.8;
      }
    }
  }
}
